footer.Footer
  .container
    .Footer-wrapper.flex.items-center.justify-between 
      .Footer-logo 
        img(src="./assets/images/logo.svg" alt="")
      p.label.semibold.Footer-text VinFast. All rights reserved. © Copyright 2022

