.Input {
  &-control {
    padding: 2rem 1.6rem;
    border-radius: .3rem;
    background: $white;
    border: 1px solid $geyser;
    color: $mine-shaft; 
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    outline: none;
  }

  &-label {
    color: $gray;
    margin-bottom: .4rem;
  }

  &.group {
    padding: .5rem 1.6rem;
    border: 1px solid $geyser;
    border-radius: .3rem;

    &.error {
      border-color: $punch;
    }

    .Input-control {
      background: transparent;
      padding: 0;
      border: none;
    }
  }
}