/* https://chir.ag/projects/name-that-color */

$white: #fff;
$black: #000;

$mine-shaft: #3C3C3C;
$blue-ribbon: #1464F4;
$geyser: #D9E1E2;
$porcelain: #F0F3F3;
$porcelain-light: #F7F9F9;
$gray: #8A8A8A;
$punch: #DC3545;